<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <% if (locals.user) { %>
      <h1>Hey, <%= user.username %>!</h1>
      <form action="/log-out" method="post">
        <button type="submit">Log out</button>
      </form>
    <% } else { %>
      <h1>Log In</h1>
      <form action="log-in" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" autocomplete="username" required>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" autocomplete="current-password" required>
        <button type="submit">Log in</button>
      </form>
      </body>
      <a href="/sign-up">Sign up</a>
    <% } %>
    <% if (locals.errors && errors.length > 0) { %>
      <ul>
        <% errors.forEach((error) => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    <% }; %>
</html>